<form ng-submit="save()">
  <input ng-model="account.name" type="text"/>
  <input ng-model="account.password" type="password"/>
  <input type="submit" id="submit" value="Submit" />
  <button ng-click="save()">send</button>
</form>
{{account}}<br/>
